<!DOCTYPE html>
<html lang="ru-ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- Primary Meta Tags -->
		<title>COXO нумерология</title>
		
		<meta name="title" content="COXO Numerology">
		<meta name="description" content="Calculate your date and name to learn about your number right now.">

		<link rel="icon" href="img/favicon.png" type="image/x-icon"/>
		<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon"/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://coxo.digital/">
		<meta property="og:title" content="COXO Numerology">
		<meta property="og:description" content="Calculate your date and name to learn about your number right now.">
		<meta property="og:image" content="img/image.jpg">
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://coxo.digital/">
		<meta property="twitter:title" content=" COXO Numerology">
		<meta property="twitter:description" content="Calculate your date and name to learn about your number right now.">
		<meta property="twitter:image" content="img/image.jpg">

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    	
		<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
			  				   integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
							   crossorigin="anonymous">-->

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
								integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" 
								crossorigin="anonymous" />

		<link type="text/css" href="css/volt.css" rel="stylesheet">	
		
		<link rel="stylesheet" type="text/css" href="css/style.css">

		
	</head>