/* Display URL of hyperlinks when printing */
@media print {
  a:after {
    content: " (" attr(href) ")";
  }
}

/* Example media query expression for Responsive Web Design 
@media (orientation: portrait) and (min-width:980px) {
  html {
    display: none;
  }
}*/

div.alert:nth-child(1) {
  background-color: aliceblue;
}

.input-group-text {
  background-color: #fff!important;
}

thead { position: sticky; top: 0; background-color: white; }

.btn {
margin-bottom: 15px;
}