<%- include('partials/head'); %>

	<body onload="checkDate()">

		<%- include('partials/header', {title:'Нумерология здоровья'}); %>

		<div class="container-sm card border-light shadow-sm" id="health_main" style="padding-top: 2.22rem; max-width: 40rem">
			

			<div class="input-group mb-3">
  				<span class="input-group-text" id="basic-addon1">
  					Дата
  				</span>
  				<input type="number" id="dateInputDay" class="form-control" 
  					   placeholder="ДД" aria-label="День" 
  					   aria-describedby="basic-addon1" 
  					   min="01" max="31" step="1" maxlength="2" 
  					   onkeyup="moveOnMax(this, 'dateInputMonth')"
  					   onchange="leadingZeros(this); checkDate()" pattern="[00-09]{2}">
  	
  				<input type="number" id="dateInputMonth" class="form-control" 
  					   placeholder="ММ" aria-label="Месяц" 
  					   aria-describedby="basic-addon1"
  					   min="01" max="12" step="1" maxlength="2" 
  					   onkeyup="moveOnMax(this, 'dateInputYear')"
  					   onchange="leadingZeros(this); checkDate()" pattern="[00-09]{2}">

  				<input type="number" id="dateInputYear" class="form-control" 
  					   placeholder="ГГГГ" aria-label="Год" 
  					   aria-describedby="basic-addon1"
  					   min="1799" max="2021" step="1" maxlength="4" 
  					   onkeyup="moveOnMax(this, 'dateInputHour')"
  					   onchange="checkDate()" pattern="[0-9]{4}">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">
					Время
				</span>
				<input type="number" id="dateInputHour" class="form-control" 
						placeholder="ЧЧ" aria-label="Часов" 
						aria-describedby="basic-addon1" 
						min="00" max="24" step="1" maxlength="2" 
						onkeyup="moveOnMax(this, 'dateInputMinute')"
						onchange="leadingZeros(this); checkDate()" pattern="[00-09]{2}">

				<input type="number" id="dateInputMinute" class="form-control" 
						placeholder="ММ" aria-label="Минут" 
						aria-describedby="basic-addon1"
						min="00" max="59" step="1" maxlength="2" 
						onkeyup="moveOnMax(this, 'nameString')"
						onchange="leadingZeros(this); checkDate()" pattern="[00-09]{2}">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">
					Имя
				</span>
				<input type="text" id="nameString" class="form-control" 
					   placeholder="Фамилия Имя Отчество" aria-label="Фамилия Имя Отчество" 
					   aria-describedby="basic-addon1" 
					   maxlength="50" onchange="checkDate()">
		 	</div>

			<div class="input-group mb-3">
            	<span class="input-group-text" id="basic-addon0">
  					Язык
  				</span>
            	<select class="form-select" aria-label="Local" id="langString" onchange="checkDate()">
                	<option value="0">English</option>
                	<option value="1" selected>Русский</option>
									<option value="2">Slovensky</option>
            	</select>
   			</div>


		<div id="alerts"></div>

		<div class="d-flex justify-content-center" >
  			<div class="spinner-border" role="status" id="spinners" style="display: none;">
  				  <span class="sr-only">Loading...</span>
  			</div>
		</div>	

		<canvas id="myChart" style="display:none;"></canvas>


			


			

		</div>

	</div>


	<%- include('partials/footer'); %>
	<script src="script/health_script.js"></script>

	</body>


</html>