<%- include('partials/head'); %>

<body>

  <%- include('partials/header', {title:'Детская нумерология'}); %>
  <main class="content p-2">
    <%- include('partials/navbar'); %>

    <%- include('partials/footer'); %>
  </main>

</body>