<%- include('partials/head'); %>

<body onload="checkDate()">

	<%- include('partials/header', {title:'Детская нумерология'}); %>
	<main class="content p-2" style="background-image: url('img/cloud.png')">
		<%- include('partials/navbar'); %>
    <!--Description-->
		<div class="row justify-content-md-center">
			<div class="col-12 mb-4" id="description_title">
				<div class="card bg-secondary-alt shadow-sm">
					<div class="card-header d-sm-flex flex-row align-items-center flex-0 gradient-yellow-overlay">
						<h3>Детская нумерология <br> Воспитание кармой</h3>
					</div>
					<div class="card-body p-4">
						<article>
							<b>Карма</b> – это программа, созданная для воспитания человека. Её задача – помочь нашей душе
							гармонично развиваться и эволюционировать.
							Карма дает нам уроки, пройдя которые мы переходим на новый уровень.<br><br>
							Существует 22 вида уроков. Период первого урока – 100 дней, на протяжении которых
							формируется моральный облик ребенка на всю жизнь.
							Эти уроки каждый человек проходит в первые 6 лет жизни. И задача родителей помочь ребенку достойно
							освоить их.<br><br>
							Ребёнок не случайно попадает в ту или иную среду. Душа выбирает себе родителей, способных
							создать наилучшие условия для прохождения испытаний. И на практике мы часто видим, как в неблагополучных
							семьях вырастают гении. А бывает и наоборот, когда ребенок, воспитываясь в очень обеспеченной семье
							способен на воровство.<br><br>
							Есть всего 100 дней в целой жизни, которые закладывают в ребенке отношение к той
							или иной области. Именно эти 100 дней могут сделать человека честным и щедрым или
							жадным и подлым. Вернуться к тому, что уже прошло – не возможно.<br>
						</article>
						
					</div>
					<div class="card-body p-0">
						<img src="img/kid.jpg" class="img-fluid" alt="Responsive image" style="border-radius:0.5rem">
					</div>
				</div>
			</div>
		</div>
		<!--Date_input-->
		<div class="row justify-content-md-center">
			<div class="col-12 mb-4" id="description_title">
				<div class="card bg-secondary-alt shadow-sm">
					<div class="card-header d-sm-flex flex-row align-items-center flex-0">
						<h5>Введите дату рождения ребёнка</h5>
					</div>
					<div class="card-body p-4">
						<label for="birth_date_form">День, месяц, год:</label>
						<div class="input-group mb-3 form-control" id="birth_date_form">

							<input type="number" id="dateInputDay" class="form-control" placeholder="ДД" aria-label="День"
								aria-describedby="basic-addon1" min="01" max="31" step="1" maxlength=2
								onkeyup="moveOnMax(this, 'dateInputMonth')" onchange="leadingZeros(this)" pattern="[00-09]{2}">

							<input type="number" id="dateInputMonth" class="form-control" placeholder="ММ" aria-label="Месяц"
								aria-describedby="basic-addon1" min="01" max="12" step="1" maxlength=2
								onkeyup="moveOnMax(this, 'dateInputYear')" onchange="leadingZeros(this)" pattern="[00-09]{2}">

							<input type="number" id="dateInputYear" class="form-control" placeholder="ГГГГ" aria-label="Год"
								aria-describedby="basic-addon1" min="1799" max="2021" step="1" maxlength=4
								onkeyup="moveOnMax(this, 'dateInputYear')" pattern="[0-9]{4}">
						<!--Submit-button-->
						</div>
						<div id="alerts"></div>
						<button onclick="checkDate()" class="btn btn-primary mb-2 me-2" type="button" id="main_form_button">
							<i class="fas fa-play me-2"></i>  Произвести рассчёт</button>

						

					</div>
				</div>
			</div>
		</div>
		<!--Result-->
		<div class="row justify-content-md-center" id="result_container" style="display: none;">
			<div class="col-12 mb-4" id="description_title">
				<div class="card bg-secondary-alt shadow-sm">
					<div class="card-header d-sm-flex flex-row align-items-center flex-0">
						<div id="learnage_container">
						</div>
					</div>
					<div class="card-body p-4 px-0">

						<div class="d-flex justify-content-center">
							<div class="spinner-border" role="status" id="spinners" style="display: none;">
								<span class="sr-only">Loading...</span>
							</div>
						</div>

						<div class="input-group mb-3" id="tabulation" style="display: none;">
							<ul class="nav nav-pills nav-fill flex-column flex-md-row px-4" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#contentOPV" role="tab"
										aria-controls="contentOPV" aria-selected="true">Таблица обучения</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#contentregrets" role="tab"
										aria-controls="contentregrets" aria-selected="false">Цикл обратки кармы</a>
								</li>
							</ul>
						</div>

						<div class="tab-content" id="myTabContent" style="display: none;">

							<div class="tab-pane fade show active" id="contentOPV" role="tabpanel" aria-labelledby="Рассчет ОПВ">

								<table class="table table-bordered table-hover" id="table1">
									<caption class="px-4">*л, м, д – лет, месяцев, дней</caption>
									<thead class="table-light">
										<tr>
											<th scope="col">Период</th>
											<th scope="col">Возраст*</th>
											<th scope="col">ОПВ**</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<!-- <button onClick="savePDF()" type="button" class="btn btn-light">Сохранить PDF</button> -->

							</div>

							<div class="tab-pane fade" id="contentregrets" role="tabpanel" aria-labelledby="Цикл обратки кармы">

								<div class="container-fluid" id="regrets_container">
								</div>

								<!-- <button onClick="savePDF()" type="button" class="btn btn-light">Сохранить PDF</button> -->
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>


		<%- include('partials/footer'); %>
	</main>
	<script src="script/kids_script.js"></script>

</body>

</html>