/* Display URL of hyperlinks when printing */
@media print {
    a:after {
        content: " ("attr(href) ")";
    }
}

div.alert:nth-child(1) {
    background-color: aliceblue;
}

.input-group-text {
    background-color: #fff !important;
}

thead {
    position: sticky;
    top: 0;

}


.container-sm {
    padding-bottom: 20px;
}

.show-read-more .more-text {
    display: none;
}

.readmorecls {
    display: inline!important;
}

.btn-outline-primary {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
   



.nav {
    margin-left: 1px;
  }
  


.nav-tabs .nav-link {
    margin-bottom: -1px !important;
}


.table-dark {
    --bs-table-bg: #43a047 !important;
}
.thead-light {
    background-color: #eaeaea !important;
    color: #515151;
}
  

.container-fluid {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    border: none;
}

#learnage_container > h4:nth-child(1) {
    background-color: #43a047;
    padding: 15px;
    color: white;
    margin-left: 1px !important;
    margin-bottom: -1px !important;
  }
  

.nav-tabs {

    border-bottom: none!important;
  }
  
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
 color:#515151;
 background-color:#eaeaea!important;
 border-color:#eaeaea, #eaeaea, #eaeaea!important;
 font-weight: bold;
}
