/* Display URL of hyperlinks when printing */
@media print {
    a:after {
        content: " ("attr(href) ")";
    }
}

div.alert:nth-child(1) {
    background-color: aliceblue;
}

.input-group-text {
    background-color: #fff !important;
    width: 4rem;
}

.container-sm {
    padding-bottom: 20px;
}

.show-read-more .more-text {
    display: none;
}

.readmorecls {
    display: inline!important;
}

.btn-outline-primary {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
   
.nav {
    margin-left: 1px;
}
  
.nav-tabs .nav-link {
    margin-bottom: -1px !important;
}


.thead-light {
    background-color: #eaeaea !important;
    color: #515151;
}

thead {
    position: sticky;
    top: 0;

}
  

.container-fluid {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    border: none;
}


#description_title {
    max-width: 57rem;
    background-color: white;
    /*! margin: 1rem; */
    padding: 1.2rem;
    margin-bottom: 2rem;
    font-size: 0.89rem !important;
  }