/* Display URL of hyperlinks when printing */
@media print {
  a:after {
    content: " (" attr(href) ")";
  }
}

div.alert:nth-child(1) {
  background-color: aliceblue;
}

.input-group-text {
  background-color: #fff!important;
}

thead { position: sticky; top: 0; background-color: white; }

.container-sm {
  padding-bottom: 20px;
}
